* {
  font-family: 'Montserrat', sans-serif; }

#tester {
  position: absolute;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 1px solid red;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 305px;
  left: 37px;
  display: none; }

#mbrtWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  #mbrtWrap .innerWrap {
    position: relative;
    float: left;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    width: 50%;
    height: 100%;
    overflow: hidden; }
  #mbrtWrap .leftWrap {
    background-color: #b4ccbf;
    -webkit-transition: all 1.4s cubic-bezier(0.3, 0.01, 0.15, 0.99);
    -moz-transition: all 1.4s cubic-bezier(0.3, 0.01, 0.15, 0.99);
    -ms-transition: all 1.4s cubic-bezier(0.3, 0.01, 0.15, 0.99);
    -o-transition: all 1.4s cubic-bezier(0.3, 0.01, 0.15, 0.99);
    transition: all 1.4s cubic-bezier(0.3, 0.01, 0.15, 0.99);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left; }
    #mbrtWrap .leftWrap .textWrap {
      position: absolute;
      width: 364px;
      height: 214px;
      margin: auto;
      top: 0;
      bottom: 12px;
      left: 14.82%; }
      #mbrtWrap .leftWrap .textWrap .upCase {
        text-transform: uppercase; }
        #mbrtWrap .leftWrap .textWrap .upCase span {
          -webkit-transition: all 0.8s ease-out;
          -moz-transition: all 0.8s ease-out;
          -ms-transition: all 0.8s ease-out;
          -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out; }
      #mbrtWrap .leftWrap .textWrap .title {
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 50px;
        width: 100%;
        height: 122px;
        line-height: 43px;
        letter-spacing: 12px;
        font-size: 35px;
        font-weight: 500; }
      #mbrtWrap .leftWrap .textWrap .subtitle {
        color: #1d1d1b;
        margin: 0;
        width: 100%;
        height: 42px;
        line-height: 21px;
        letter-spacing: 5px;
        font-size: 17px;
        font-weight: 700; }
        #mbrtWrap .leftWrap .textWrap .subtitle span {
          -webkit-transition: all 0.8s ease-out;
          -moz-transition: all 0.8s ease-out;
          -ms-transition: all 0.8s ease-out;
          -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out; }
        #mbrtWrap .leftWrap .textWrap .subtitle a {
          text-decoration: none;
          color: #1d1d1b;
          -webkit-transition: all 0.8s ease-out;
          -moz-transition: all 0.8s ease-out;
          -ms-transition: all 0.8s ease-out;
          -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out; }
  #mbrtWrap .rightWrap {
    background-color: #ffffff; }
    #mbrtWrap .rightWrap div {
      position: absolute; }
      #mbrtWrap .rightWrap div img {
        width: 100%; }
    #mbrtWrap .rightWrap .dbLeaf {
      width: 244px;
      height: 233px;
      -webkit-transition: all 0.8s ease-out;
      -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
    #mbrtWrap .rightWrap .topLeaf {
      top: 0;
      right: 0; }
    #mbrtWrap .rightWrap .bottomLeaf {
      bottom: 0;
      left: 0; }
    #mbrtWrap .rightWrap .dbLogo {
      z-index: 1000;
      width: 190px;
      height: 190px;
      margin: auto;
      top: 13px;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transition: all 0.8s ease-out;
      -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }

.enterBg {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0); }

.animateObj {
  opacity: 0;
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))';
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px); }

@media only screen and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap .leftWrap .textWrap {
    width: 333px;
    height: 200px; }
    #mbrtWrap .leftWrap .textWrap .title {
      height: 95px;
      margin-bottom: 66px;
      font-size: 28px;
      letter-spacing: 14.5px;
      line-height: 34px; }
    #mbrtWrap .leftWrap .textWrap .subtitle {
      height: 30px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 3.5px; }
  #mbrtWrap .rightWrap .dbLeaf {
    width: 195px;
    height: 186px; }
  #mbrtWrap .rightWrap .dbLogo {
    width: 155px;
    height: 155px; } }
@media only screen and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap .innerWrap {
    width: 100%;
    height: 50%;
    position: absolute; }
  #mbrtWrap .leftWrap {
    bottom: 0; }
    #mbrtWrap .leftWrap .textWrap {
      left: 9.76%; }
  #mbrtWrap .rightWrap .dbLeaf {
    width: 195px;
    height: 186px; }
  #mbrtWrap .rightWrap .dbLogo {
    width: 180px;
    height: 180px;
    top: 21px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap .leftWrap .textWrap {
    width: 181px;
    height: 111px;
    left: 10.93%; }
    #mbrtWrap .leftWrap .textWrap .title {
      height: 59px;
      line-height: 21px;
      letter-spacing: 7.3px;
      font-size: 16px;
      margin-bottom: 27px; }
    #mbrtWrap .leftWrap .textWrap .subtitle {
      height: 19px;
      line-height: 12px;
      letter-spacing: 1px;
      font-size: 10px; }
  #mbrtWrap .rightWrap .dbLogo {
    width: 85px;
    height: 85px; }
  #mbrtWrap .rightWrap .dbLeaf {
    width: 92px;
    height: 87px; } }
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap {
    min-width: 420px; } }
@media only screen and (max-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap {
    min-width: 270px; } }

/*# sourceMappingURL=styling.css.map */
