* {
  font-family: 'Open Sans Condensed', sans-serif; }

#tester {
  position: absolute;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 1px solid red;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 305px;
  left: 37px;
  display: none; }

#mbrtWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  #mbrtWrap #innerWrap {
    position: absolute;
    width: 300px;
    height: 350px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; }
    #mbrtWrap #innerWrap div {
      position: relative;
      position: relative;
      float: left;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      /* Fix for IE7 */
      *display: inline;
      /* Fix for IE7 */
      width: 100%;
      text-align: center; }
      #mbrtWrap #innerWrap div h1, #mbrtWrap #innerWrap div h2 {
        margin: 0;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out; }
    #mbrtWrap #innerWrap .logoBox {
      height: 70%;
      font-family: Futura; }
      #mbrtWrap #innerWrap .logoBox img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out; }
    #mbrtWrap #innerWrap .copyBox {
      height: 30%;
      text-transform: uppercase;
      font-size: 20px; }

.enterBg {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0); }

.animateObj {
  opacity: 0;
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))';
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px); }

@media only screen and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap .leftWrap .textWrap {
    width: 333px;
    height: 200px; }
    #mbrtWrap .leftWrap .textWrap .title {
      height: 95px;
      margin-bottom: 66px;
      font-size: 28px;
      letter-spacing: 14.5px;
      line-height: 34px; }
    #mbrtWrap .leftWrap .textWrap .subtitle {
      height: 30px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 3.5px; }
  #mbrtWrap .rightWrap .dbLeaf {
    width: 195px;
    height: 186px; }
  #mbrtWrap .rightWrap .dbLogo {
    width: 155px;
    height: 155px; } }
@media only screen and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap .innerWrap {
    width: 100%;
    height: 50%;
    position: absolute; }
  #mbrtWrap .leftWrap {
    bottom: 0; }
    #mbrtWrap .leftWrap .textWrap {
      left: 9.76%; }
  #mbrtWrap .rightWrap .dbLeaf {
    width: 195px;
    height: 186px; }
  #mbrtWrap .rightWrap .dbLogo {
    width: 180px;
    height: 180px;
    top: 21px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap .leftWrap .textWrap {
    width: 181px;
    height: 111px;
    left: 10.93%; }
    #mbrtWrap .leftWrap .textWrap .title {
      height: 59px;
      line-height: 21px;
      letter-spacing: 7.3px;
      font-size: 16px;
      margin-bottom: 27px; }
    #mbrtWrap .leftWrap .textWrap .subtitle {
      height: 19px;
      line-height: 12px;
      letter-spacing: 1px;
      font-size: 10px; }
  #mbrtWrap .rightWrap .dbLogo {
    width: 85px;
    height: 85px; }
  #mbrtWrap .rightWrap .dbLeaf {
    width: 92px;
    height: 87px; }
  #mbrtWrap #innerWrap {
    height: 230px; }
    #mbrtWrap #innerWrap .logoBox img {
      width: 60%; }
    #mbrtWrap #innerWrap .copyBox {
      font-size: 12px; } }
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap {
    min-width: 420px; } }
@media only screen and (max-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #mbrtWrap {
    min-width: 270px; } }

/*# sourceMappingURL=styling.css.map */
