// Start Font Inserting


@font-face {
	font-family: "Dense";
	src: url("fonts/Dense-Regular.otf");
	src: 
	url("fonts/dense-regular-webfont.woff") format("woff"),
	url("fonts/dense-regular-webfont.woff2") format("woff");
}