// Start responsive styles

// Tablet Landscape
@media only screen and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	#mbrtWrap{
		.innerWrap{}

		.leftWrap{
			.textWrap{
				width: 333px;
				height: 200px;

				.title{
					height: 95px;
					margin-bottom: 66px;
					font-size: 28px;
					letter-spacing: 14.5px;
					line-height: 34px;
				}

				.subtitle{
					height: 30px;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 3.5px;
				}
			}
		}


		.rightWrap{
			.dbLeaf{
				width: 195px;
				height: 186px;
			}

			.dbLogo{
				width: 155px;
				height: 155px;
			}
		}
	}
}

// Tablet Portrait
@media only screen and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	#mbrtWrap{
		.innerWrap{
			width: 100%;
			height: 50%;
			position: absolute;
		}

		.leftWrap{
			bottom: 0;

			.textWrap{
				left: 9.76%;
			}
		}

		.rightWrap{
			.dbLeaf{
				width: 195px;
				height: 186px;
			}

			.dbLogo{
				width: 180px;
				height: 180px;
				top: 21px;
			}
		}
	}
}

// Phones
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
	#mbrtWrap{
		.leftWrap{
			.textWrap{
				width: 181px;
				height: 111px;
				left: 10.93%;

				.title{
					height: 59px;
					line-height: 21px;
					letter-spacing: 7.3px;
					font-size: 16px;
					margin-bottom: 27px;
				}

				.subtitle{
					height: 19px;
					line-height: 12px;
					letter-spacing: 1px;
					font-size: 10px;
				}
			}
		}

		.rightWrap{
			.dbLogo{
				width: 85px;
				height: 85px;
			}

			.dbLeaf{
				width: 92px;
				height: 87px;
			}
		}

		#innerWrap{
			height: 230px;

			.logoBox{
				img{
					width: 60%;
				}
			}

			.copyBox{
				font-size: 12px;
			}
		}
	}
}

// Phones Landscape
@media only screen and (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){
	#mbrtWrap{
		min-width: 420px;
	}
}

// Phones Portrait
@media only screen and (max-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
	#mbrtWrap{
		min-width: 270px;
	}
}